.sponsors {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e9ecef;
}

.sponsors-container {
    display: flex;
    white-space: nowrap; /* Empêche le retour à la ligne des éléments */
}

.sponsor-img {
    animation: scroll-left 20s linear infinite;
    margin: 0 15px;
    max-height: 80px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.sponsor-img:hover {
    opacity: 1;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-300%); 
    }
}
